.snake-canvas {
  border: 1px solid black;
  background: white;
}

.fake-canvas {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: black;
}
